name: Publish

env:
  DOTNET_VERSION: "7.0.x"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: '0.0.0'
        type: string
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

jobs:

  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .Net
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Set NuGet key
        run: nuget setApiKey ${{ secrets.NUGET_API_KEY }} -source https://api.nuget.org/v3/index.json

      - name: Run release script
        working-directory: ./
        run: ./release.sh ${{ github.event.inputs.version }}
